In [ ]:
library(tidyverse)

In [ ]:
#link<-"https://docs.google.com/spreadsheets/d/e/2PACX-1vTzRIOD1vxwdsCrDT6nUlOyVdnjbGT-czh0DM9s8AfMhf1kvc0582_f4AsBYTmKnQv1Miow6bcq--6g/pub?output=csv"
#classData <- read_csv(link)
classData <- read.csv('class_data_responses_form_sani.csv')

In [ ]:
head(classData)

  Timestamp          phone_type undergrad_major                     num_cups
1 8/27/2025 10:05:16 Mac        Applied & Computational Mathematics 0
2 8/27/2025 10:05:19 Mac        Economics                           1-2
3 8/27/2025 10:05:19 Mac        Industrial engineering              1 to 2
4 8/27/2025 10:05:24 Mac        Economics                           1
5 8/27/2025 10:05:27 Mac        Biology                             5
6 8/27/2025 10:05:32 Mac        Computer Science                    1
  sleep_hrs fav_sports       ds_skills outdoor_hrs ai_tools_use ideal_temp
1 7         Football         7         2           Often        68
2 7         Soccer           6         1           Sometimes    75
3 6         Basketball       6         3 to 4      Always       68
4 7         Football         3         2           NA           70
5 8         College football 5         3           Sometimes    65
6 7         Football         6         4           Often        75
  phone_hrs music_while_studying music_genre  num_states fav_season study_env
1 3 hours   Yes                  Pop          39         Fall       Dorm
2 5         Yes                  EDM/House    20         Summer     Library
3 2 to 3    No                   Techno        6         Fall       Home
4 4         Yes                  Rock         43         Spring     Outdoors
5 5         Yes                  Country/Folk 15         Fall       Library
6 5         No                   Jazz         20         Summer     library
  summer_desc
1 Crazy
2 Unreal
3 Amazing
4 Interesting
5 Fantastic
6 Fun

In [ ]:
table(classData$ai_tools_use) # frequency table

   Always     never     Often    rarely Sometimes
        8         3        39        10        29

In [ ]:
summary(classData$num_states) # summary statistics

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   1.00   10.00   17.00   18.57   26.00   50.00

Analysis of the various properties:

Timestamp >>> not important

phone_type (chr) categorical

undergrad_major (chr) categorical, free text

num_cups (chr) meant to be a number, entered as text... sort into buckets? def convert to numeric

sleep_hrs (chr)  >>> convert to numeric

fav_sports (chr)

ds_skills (chr) >>> is this categorical? scale of x to y? convert to numeric

outdoors_hrs (chr) >>> convert to numeric

ai_tools_use (chr) categorical

ideal_temp (chr) >>> convert to numeric

phone_hrs (chr) >>> convert to numeric

music_while_studying (chr) categorical

music_genre (chr)

num_states (chr) >>> convert to numeric

fav_season (chr) categorical

study_env (chr)

summer_desc (chr)

In [ ]:
#convert the following to numerics:
#   ideal_temp                              >> DONE
#   num_states                              >> N/A, ALREADY TYPE DBL


# change "Mac" to "iPhone" in phone_type    >> DONE
#   num_cups >> convert to a categorical    >> DONE
#   sleep_hrs >> convert to a categorical   >> DONE
#   ds_skills                               >> N/A, ALREADY A CATEGORICAL
#   outdoors_hrs                            >> DONE
#   phone_hrs                               >> DONE


# unify strings for:
#   study_env strings
#   unify fav_sports strings
#   unify undergrad_major
#   music_genre                              >> DONE

In [ ]:
bin1 <- '0'
bin2 <- '1-2'
bin3 <- '3-5'
bin4 <- '6+'

#set numbers correlate to bins
set1 <- c('0', '0.5', 'I only drink coffee if itâ€™s really sweet. I am usually a can of soda girl', 'usually 0 but like to treat myself to 1')
set2 <- c('0-1', '1', '1 to 2', '1-2', '1.5', '100mg of caffeine', '2', '2 (coffee)', '4 cups of tea in the morning per day', 'One')
set3 <- c('3', '4', '5', 'y = mx+b where b is 1 coffee and m is correlated to sleep the night before. On average, I have about 2.5 total (y).')
set4 <- c('6')

if(FALSE) {
classData <- classData %>%
  mutate(num_cups_binned = case_when(
    classData$num_cups == '0' ~ bin1, # 30
    classData$num_cups == '0-1' ~ bin2,  # 2
    classData$num_cups == '0.5' ~ bin1,  # 3 ,
    classData$num_cups == '1' ~ bin2,  # 22
    classData$num_cups == '1 to 2' ~ bin2, # 1
    classData$num_cups == '1-2' ~ bin2,   # 5
    classData$num_cups == '1.5' ~ bin2, # 1
    classData$num_cups == '100mg of caffeine' ~ bin2, # 1 >> Healthline estimates approx 45 mg of caffeine per cup of coffee
    classData$num_cups == '2' ~ bin2,  # 13
    classData$num_cups == '2 (coffee)' ~ bin2, # 1
    classData$num_cups == '3' ~ bin3, # 3
    classData$num_cups == '4' ~ bin3, # 1
    classData$num_cups == '4 cups of tea in the morning per day' ~ bin1, # 1
    classData$num_cups == '5' ~ bin3,, # 1
    classData$num_cups == '6' ~ bin4, # 1
    classData$num_cups == 'I only drink coffee if itâ€™s really sweet. I am usually a can of soda girl' ~ bin1, # 1
    classData$num_cups == 'One' ~ bin2, # 1
    classData$num_cups == 'usually 0 but like to treat myself to 1' ~ bin1, # 1

    classData$num_cups == 'y = mx+b where b is 1 coffee and m is correlated to sleep the night before. On average, I have about 2.5 total (y).' ~ bin3 # 1
  ))
}

classData <- classData %>%
  mutate(num_cups_binned = ifelse(classData$num_cups %in% set4, bin4, ifelse(classData$num_cups %in% set3, bin3, ifelse(classData$num_cups %in% set2, bin2, bin1))))

#table(classData$num_cups_binned)

In [ ]:
table(classData$phone_type)

Android     Mac
      6      84

In [ ]:
# mac >> iPhone

classData <- classData %>%
  mutate(phone_type_upd = ifelse(classData$phone_type == "Mac", "iPhone", "Android"))

#classData$phone_type_upd
#table(classData$phone_type_upd)

In [ ]:
# bin1: 5 or less hours of sleep // bin2: 6-8 hours of sleep // bin3: 9 or more hours of sleep
bin1_2 <- 'less than 6'
bin2_2 <- '6 to 8'
bin3_2 <- 'more than 8'

set1_2 <- c('4', '5.5', 'Not enough ðŸ¥º maybe 4-6', 'Not enough')
set2_2 <- c('6', '6-7', '6-7:30', '6-8', '6,7', '6.5', '7', '7 hours', '7-8', '7-9', '7.5', '8')
set3_2 <- c('10', '8-10', '8.5', '8h',  '9')

classData <- classData %>%
  mutate(sleep_hrs_upd = ifelse(classData$sleep_hrs %in% set3_2, bin3_2, ifelse(classData$sleep_hrs %in% set2_2, bin2_2, bin1_2)))

#table(classData$sleep_hrs_upd)

In [ ]:
table(classData$outdoor_hrs)

               0.5              0.5-1                  1             1 hour
                 2                  1                 16                  1
               1-2                1-3                1,2                 1h
                 1                  1                  1                  1
                 2               2ish                  3             3 to 4
                28                  1                 18                  1
                 4                  5                  7 As few as possible
                12                  2                  2                  1

In [ ]:
bin1_3 <- '0 - 1'
bin2_3 <- '1.01 - 2'
bin3_3 <- '2.01 - 3'
bin4_3 <- '3.01 - 4'
bin5_3 <- '4.01 - 5'
bin6_3 <- 'more than 5'

set1_3 <- c('As few as possible', '0.5', '0.5-1', '1', '1 hour')
set2_3 <- c('1-2', '1,2', '1h', '2', '2ish')
set3_3 <- c('1-3', '3')
set4_3 <- c('4', '3 to 4')
set5_3 <- c('5')
set6_3 <- c('7' )

classData <- classData %>%
  mutate(outdoor_hrs_upd = ifelse(classData$outdoor_hrs %in% set6_3, bin6_3,
              ifelse(classData$outdoor_hrs %in% set5_3, bin5_3,
              ifelse(classData$outdoor_hrs %in% set4_3, bin4_3,
              ifelse(classData$outdoor_hrs %in% set3_3, bin3_3,
              ifelse(classData$outdoor_hrs %in% set2_3, bin2_3, bin1_3))))));

#table(classData$outdoor_hrs_upd)

In [ ]:
table(classData$ideal_temp)

             20              55              60              62              65
              1               1               4               1              12
             67              68              69              70      70 degrees
              1              12               1              14               2
             71              72              73              74             74F
              5               5               3               3               1
             75      75 degrees              77              80              85
             14               1               2               4               1
             90 Mid to high 70s
              1               1

In [ ]:
# 1 >> assume '20' is in degrees Celsius >> convert to Farenheit
# 2 >> '70 degrees' >> '70'
# 3 >> '75 degrees' >> '75'
# 4 >> 'Mid to high 70s' >> '77'
# 5 >> '74F' >> '74' ---------------> before xformation, there are 3 counts of '74', should increase to 4 >> it does
# 6 >> convert strings to numeric

classData$ideal_temp[classData$ideal_temp == '70 degrees'] <- '70'
classData$ideal_temp[classData$ideal_temp == '75 degrees'] <- '75'
classData$ideal_temp[classData$ideal_temp == '74F'] <- '74'
classData$ideal_temp[classData$ideal_temp == 'Mid to high 70s'] <- '77'
classData$ideal_temp[classData$ideal_temp == '20'] <- as.character((20 * 1.8) + 32) # degFar = (degCel * 1.8) + 32

classData <- classData %>%
  mutate(ideal_temp_upd = as.integer(classData$ideal_temp))

#head(classDataTest2) # so I can see the column's data type
#head(classData)

In [ ]:
bin1_4 <- '0-1 hr'
bin2_4 <- '1.01 - 2 hrs'
bin3_4 <- '2.01 - 3 hrs'
bin4_4 <- '3.01 - 4 hrs'
bin5_4 <- '4.01 - 5 hrs'
bin6_4 <- '5.01 - 6 hrs'
bin7_4 <- '6.01 - 7 hrs'
bin8_4 <- '7.01 - 8 hrs'
bin9_4 <- '8.01 - 9 hrs'
bin10_4 <- 'more than 9 hrs'

set1_4 <- c()
set2_4 <- c('1 hour 46 minutes', '1.25', '2')
set3_4 <- c('2 to 3', '2.5', '2.5 hours', '2.6', '2hr 59min', '2hrs 58 min', '3', '3 hours')
set4_4 <- c('3-4', '3.5', '4', '4 hours', '4h')
set5_4 <- c('4.5', '5', '5 hours', 'probably 4-6')
set6_4 <- c('5:45', '5.5', '5.5 hrs', '6')
set7_4 <- c('6 hours and 38 minutes', '6.5', '7', '7 hours')
set8_4 <- c('7.5', '8')
set9_4 <- c('8.5', '9 hours')
set10_4 <- c('10', '18')

#classDataTest3 <- classData
classData <- classData %>%
  mutate(phone_hrs_upd = ifelse(classData$phone_hrs %in% set10_4, bin10_4,
                          ifelse(classData$phone_hrs %in% set9_4, bin9_4,
                          ifelse(classData$phone_hrs %in% set8_4, bin8_4,
                          ifelse(classData$phone_hrs %in% set7_4, bin7_4,
                          ifelse(classData$phone_hrs %in% set6_4, bin6_4,
                          ifelse(classData$phone_hrs %in% set5_4, bin5_4,
                          ifelse(classData$phone_hrs %in% set4_4, bin4_4,
                          ifelse(classData$phone_hrs %in% set3_4, bin3_4,
                          ifelse(classData$phone_hrs %in% set2_4, bin2_4, bin1_4))))))))))

#table(classDataTest3$phone_hrs_upd)
table(classData$phone_hrs_upd)

         0-1 hr    1.01 - 2 hrs    2.01 - 3 hrs    3.01 - 4 hrs    4.01 - 5 hrs
              2               6               9              23              15
   5.01 - 6 hrs    6.01 - 7 hrs    7.01 - 8 hrs    8.01 - 9 hrs more than 9 hrs
              9               8              14               2               2

In [ ]:
# creating 3x columns: 1 - Music Genre 1 (broad) // 2 - Music Genre 2 (broad) // 3 - Sub-genre (has whole thing, e.g., "yacht rock", "k-pop")

# unify R&B strings
# collect all varieties of pop into one bin

classDataTest4 <- classData

# Primary bins >> column 1

rock <- c('Alternative Rock', "Classic Rock", "Classic rock", "Folk rock",
            "rock", "Rock", "Rock/Metal", "Rock/pop")
pop <- c('80s pop', "Indie pop", "K-pop",'Kpop', 'pop', 'Pop', "Jazz-pop",
            "Girly pop", "pop punk/riot grrl", "Soft pop")
edm <- c("EDM", "EDM/House", "House", "Techno")
rnb <- c("R&B", "RnB", "rnb", "R&b but typically based on daily mood")
classical <- c("Classical piano music and pop music", "Classical", "Instrumental")
hipHop <- c("Hip hop", "Hip-Hop")
rap_trap <- c("Rap", "Rap/Rock", "Rap/R&B", "Trap")
eighties <- c("80s music")
afrobeats <- c("afrobeats")
alternative_indie <- c("alt/indie", "Alternative", "Indie")
all <- c('All', "anything but country")
bluegrass <- c('Bluegrass')
country <- c('Country', "Country/Folk")
folk <- c('folk', 'Folk')
funk <- c("Funk/Yacht Rock")
punk <- c("Hardcore/punk")
jazz <- c("Jazz")
reggaeton <- c("Reggaeton")


classData <- classData %>%
    mutate(music_genre_1 = ifelse(classData$music_genre %in% rock, "Rock",
                            ifelse(classData$music_genre %in% pop, "Pop",
                            ifelse(classData$music_genre %in% edm, "Electronic",
                            ifelse(classData$music_genre %in% rnb, "R&B",
                            ifelse(classData$music_genre %in% classical, "Classic",
                            ifelse(classData$music_genre %in% hipHop, "Hip Hop",
                            ifelse(classData$music_genre %in% rap_trap, "Rap/Trap",
                            ifelse(classData$music_genre %in% eighties, "Eighties",
                            ifelse(classData$music_genre %in% afrobeats, "Afrobeats",
                            ifelse(classData$music_genre %in% alternative_indie, "Alternative/Indie",
                            ifelse(classData$music_genre %in% all, "All/No preference",
                            ifelse(classData$music_genre %in% bluegrass, "Bluegrass",
                            ifelse(classData$music_genre %in% country, "Country",
                            ifelse(classData$music_genre %in% folk, "Folk",
                            ifelse(classData$music_genre %in% funk, "Funk",
                            ifelse(classData$music_genre %in% punk, "Punk",
                            ifelse(classData$music_genre %in% jazz, "Jazz", "Reggaeton"))))))))))))))))))

# Secondary bins >> column 2

andPop <- c("Classical piano music and pop music", "Rock/pop")
andFolk <- c("Country/Folk")
andRock <- c("Funk/Yacht Rock", "Rap/Rock")
andPunk <- c("pop punk/riot grrl")
andRnb <- c("Rap/R&B")
andMetal <- c("Rock/Metal")

classData <- classData %>%
    mutate(music_genre_2 = ifelse(classData$music_genre %in% andPop, "Pop",
                            ifelse(classData$music_genre %in% andFolk, "Folk",
                            ifelse(classData$music_genre %in% andRock, "Rock",
                            ifelse(classData$music_genre %in% andPunk, "Punk",
                            ifelse(classData$music_genre %in% andRnb, "R&B",
                            ifelse(classData$music_genre %in% andMetal, "Metal", "NA/")))))))

# handle the sub-genre column (3) with direct assignment

sub_kpop <- c("K-pop", "Kpop")

classData <- classData %>%
      mutate(music_sub_genre = "NA")
classDataTest6$music_sub_genre[classDataTest5$music_genre == "80s pop"] <- "80s Pop"
classDataTest6$music_sub_genre[classDataTest5$music_genre == "Alternative Rock"] <- "Alternative Rock"
classDataTest6$music_sub_genre[classDataTest5$music_genre == "Classic rock"] <- "Classic rock"
classDataTest6$music_sub_genre[classDataTest5$music_genre == "Folk rock"] <- "Folk rock"
classDataTest6$music_sub_genre[classDataTest5$music_genre == "Yacht Rock"] <- "Yacht Rock"
classDataTest6$music_sub_genre[classDataTest5$music_genre == "Girly pop"] <- "Girly pop"
classDataTest6$music_sub_genre[classDataTest5$music_genre == "Indie pop"] <- "Indie pop"
classDataTest6$music_sub_genre[classDataTest5$music_genre == "Jazz-pop"] <- "Jazz-pop"
classDataTest6$music_sub_genre[classDataTest5$music_genre %in% sub_kpop] <- "K-Pop"
classDataTest6$music_sub_genre[classDataTest5$music_genre == "Soft pop"] <- "Soft pop"

#head(classData)

In [ ]:
acBuilding <- c("Academic Building", "Classrooms", "School Rooms", "study room")
multiOptions <- c('All! Depends on health/wellness needs',
    'Anywhere other than my house', "Coffeeshop or library", "Coffee shop or library",
    'Coffee shop or library - outdoors is hard to see a laptop screen',
    "coffee shop or my apartment", "coffee shops, library", "Good chair",
    "Indoor by the window when itâ€™s raining outside", "Library, dorm",
    "Library or reading rooms", "Library or coffee shop",
    "My own apartment or somewhere quiet on campus", "my room or the library",
    "quiet, indoors, sunny", "Room or coffee shop")
home <- c('Backyard', "bedroom", "Bedrooom", "dorm", "Dorm", "home", "Home",
    "Home at my desk", "Home office", "In my office", "Living room", "My desk",
    "My house", "My room", "My Room", "Office")
cafe <- c("Cafe", "coffee shop", "Coffee shop", "Coffee Shop")
lie_barry <- c("library", "Library", "Library/", "Shannon Library Floor 3")
outside <- c("Outdoors")


classData <- classData %>%
    mutate(study_env_upd = ifelse(classData$study_env %in% acBuilding, "Academic Building",
                            ifelse(classData$study_env %in% home, "Home",
                            ifelse(classData$study_env %in% cafe, "Cafe/Coffee Shop",
                            ifelse(classData$study_env %in% lie_barry, "Library",
                            ifelse(classData$study_env %in% outside, "Outside",
                            ifelse(classData$study_env %in% multiOptions, "Flexible", "Student Health")))))))


#head(classData)

In [ ]:
football <- c("American Football", "College football", "Football", "NFL Football")
baseball <- c("Baseball")
basketball <- c("basketball", "Basketball", "College basketball", "College Basketball")
multiSport <- c("basketball or beach volleyball", "Golf or soccer", "Soccer or F1",
              "Swimming and Football (close)")
racing <- c("F1", "formula 1")
cornhole <- c("Cornhole")
golf <- c("Golf")
hockey <- c("Hockey", "hockey (if i ever watch sports)")
noSports <- c("I donâ€™t usually watch sports", "I rarely watch TV but enjoy video games ðŸ˜",
              "N/A", "None", "None I watch reality tv")
hurling <- c("Hurling")
volBall <- c("Men's volleyball", "Volleyball")
gymnast <- c("Olympic Womenâ€™s Gymnastics")
snook <- c("Snooker")
soccer <- c("soccer", "Soccer", "Soccer?")
superWhat <- c("Supercross")
tennis <- c("Tennis")
track <- c("Track and Field", "Track n field")


classData <- classData %>%
    mutate(fav_sports_upd = ifelse(classData$fav_sports %in% football, "Football",
                            ifelse(classData$fav_sports %in% baseball, "Baseball",
                            ifelse(classData$fav_sports %in% basketball, "Basketball",
                            ifelse(classData$fav_sports %in% multiSport, "Multiple Favorites",
                            ifelse(classData$fav_sports %in% racing, "Formula 1",
                            ifelse(classData$fav_sports %in% cornhole, "Cornhole",
                            ifelse(classData$fav_sports %in% golf, "Golf",
                            ifelse(classData$fav_sports %in% hockey, "Hockey",
                            ifelse(classData$fav_sports %in% noSports, "N/A",
                            ifelse(classData$fav_sports %in% hurling, "Hurling",
                            ifelse(classData$fav_sports %in% volBall, "Volleyball",
                            ifelse(classData$fav_sports %in% gymnast, "Gymnastics",
                            ifelse(classData$fav_sports %in% snook, "Snooker",
                            ifelse(classData$fav_sports %in% soccer, "Soccer",
                            ifelse(classData$fav_sports %in% superWhat, "Supercross",
                            ifelse(classData$fav_sports %in% track, "Track and Field", "Tennis")))))))))))))))))

In [ ]:
#   unify undergrad_major


compSci <- c("Applied computer science", "Computer science", "Computer Science")
maths <- c("Applied math", "Applied and Computational Mathematics", "Math")
statties <- c("Applied Statistics", "Applied Statistics at UVA", "Statistics",
              "Statistics with a concentration in data science")
dual_major <- c("Applied Statistics and Economics", "Computer Science and Economics",
        "Computer Science, Data Science")
astr0 <- c("Astronautical Engineering")
biology <- c("Biology", "Plant Biology")
dataSci <- c("Data science", "Data Science", "DS", "Environmental Data Science")
elecEng <- c("Electrical engineering", "Electrical Engineering")


classTestData <- classData
classData <- classData %>%
    mutate(undergrad_major_upd = ifelse(classData$undergrad_major %in% compSci, "Computer Science",
                                  ifelse(classData$undergrad_major %in% maths, "Mathematics",
                                  ifelse(classData$undergrad_major %in% statties, "Statistics",
                                  ifelse( classData$undergrad_major %in% dual_major, "Dual Major",
                                  ifelse(classData$undergrad_major %in% astr0, "Astro Engineering",
                                  ifelse(classData$undergrad_major %in% biology, "Biology",
                                  ifelse(classData$undergrad_major %in% dataSci, "Data Science",
                                  ifelse(classData$undergrad_major %in% elecEng, "Electrical Engineering", "pend")))))))))

classData$undergrad_major_upd[classData$undergrad_major == "Accounting"] <- "Accounting"
classData$undergrad_major_upd[classData$undergrad_major == "Anthropology"] <- "Anthropology"
classData$undergrad_major_upd[classData$undergrad_major == "Astrophysics"] <- "Astrophysics"
classData$undergrad_major_upd[classData$undergrad_major == "Biomedical Engineering"] <- "Biomedical Engineering"
classData$undergrad_major_upd[classData$undergrad_major == "Business (Marketing & Management)"] <- "Business (Marketing & Management)"
classData$undergrad_major_upd[classData$undergrad_major == "Business analytics"] <- "Business Analytics"
classData$undergrad_major_upd[classData$undergrad_major == "Chemical Engineering"] <- "Chemical Engineering"
classData$undergrad_major_upd[classData$undergrad_major == "Cognitive Science"] <- "Cognitive Science"
classData$undergrad_major_upd[classData$undergrad_major == "Commerce"] <- "Commerce"
classData$undergrad_major_upd[classData$undergrad_major == "Computer Engineering"] <- "Computer Engineering"
classData$undergrad_major_upd[classData$undergrad_major == "digital narrative and interactive design"] <- "Digital Narrative and Interactive Design"
classData$undergrad_major_upd[classData$undergrad_major == "Environmental Science and Environmental Thought & Practice"] <- "Environmental Science and Environmental Thought & Practice"
classData$undergrad_major_upd[classData$undergrad_major == "Economics"] <- "Economics"
classData$undergrad_major_upd[classData$undergrad_major == "Financial Engineering"] <- "Financial Engineering"
classData$undergrad_major_upd[classData$undergrad_major == "Fine Arts"] <- "Fine Arts"
classData$undergrad_major_upd[classData$undergrad_major == "Foreign Affairs"] <- "Foreign Affairs"
classData$undergrad_major_upd[classData$undergrad_major == "Game Design & Development"] <- "Game Design & Development"
classData$undergrad_major_upd[classData$undergrad_major == "History/ American Studies"] <- "History/ American Studies"
classData$undergrad_major_upd[classData$undergrad_major == "Industrial and Systems Engineering"] <- "Industrial and Systems Engineering"
classData$undergrad_major_upd[classData$undergrad_major == "Industrial engineering"] <- "Industrial Engineering"
classData$undergrad_major_upd[classData$undergrad_major == "Information Science"] <- "Information Science"
classData$undergrad_major_upd[classData$undergrad_major == "International Affairs"] <- "International Affairs"
classData$undergrad_major_upd[classData$undergrad_major == "Mechanical engineering"] <- "Mechanical engineering"
classData$undergrad_major_upd[classData$undergrad_major == "Physics"] <- "Physics"
classData$undergrad_major_upd[classData$undergrad_major == "Psychology"] <- "Psychology"
classData$undergrad_major_upd[classData$undergrad_major == "Public Policy"] <- "Public Policy"
classData$undergrad_major_upd[classData$undergrad_major == "Special education"] <- "Special Education"
classData$undergrad_major_upd[classData$undergrad_major == "Sport Analytics"] <- "Sport Analytics"
classData$undergrad_major_upd[classData$undergrad_major == "Systems Engineering"] <- "Systems Engineering"

#table(classData$undergrad_major)

In [ ]:
#getwd()

write.csv(classData, "/content/dallas_updated_classData.csv", row.names = FALSE)